pandas 
scikit-learn
numpy
seaborn 
flask 
mlflow==2.2.2
dvc 
ipykernel 
xgboost 

# dev requirements 

pytest == 7.1.3
tox==3.25.1
black==22.8.0
flake8==5.0.4
mypy==0.971

-e .



# pytest==7.1.3:

# Use: pytest is a powerful testing framework used to write simple as well as scalable test cases. It supports fixtures, parameterized testing, and has extensive plugin support.
# Version: 7.1.3 is the specific version of pytest being used.
# tox==3.25.1:

# Use: tox is a tool for automating testing in multiple Python environments. It allows you to test your code against different Python versions, manage dependencies, and run various checks in isolated environments.
# Version: 3.25.1 is the version used.
# black==22.8.0:

# Use: black is an opinionated code formatter that automatically formats your Python code to adhere to a consistent style, improving readability and reducing code review issues.
# Version: 22.8.0 specifies the exact version being employed.
# flake8==5.0.4:

# Use: flake8 is a linting tool that checks the style and quality of Python code. It combines checks from pyflakes, pycodestyle, and mccabe to ensure the code meets PEP 8 guidelines and is free from common errors.
# Version: 5.0.4 is the specified version.
# mypy==0.971:

# Use: mypy is a static type checker for Python. It checks the types in your code according to type annotations, helping to catch type-related errors before runtime.
# Version: 0.971 is the version being used.
# -e .:

# Use: The -e . option is used with pip to install the current project in  mode. This allows you to make changes to the code without needing to reinstall the package, which is useful during development.

